$md-blue-500: #2196f3;

.stepper {
  height: 24px;
  padding: 40px;
  // border: 1px solid red;
  height: 100%;
}

.stepper-indicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  // flex-wrap: wrap;
  align-items: center;
  // border-bottom: 3px solid $md-blue-500;
}

.stepper-inner {
  width: 15em;
  text-align: center;
  cursor: pointer;
}

.stepper-number {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 50px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  z-index: 1;
  border: 1.65px   solid #2196f3;
  background-color: white;
  color: #0086f3;

  span:after {
    width: 10rem;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 57px;
    background-color: $md-blue-500;
    content: "";
  }


  &.active {
    border: 3px solid $md-blue-500;
    color: $md-blue-500;
    background-color: #b0d4f1;
  }
}

.stepper-inner:nth-child(5) span::after{
  background-color: transparent;
}
.stepper-label1 {
  // position: absolute;
  margin-top: 16px;
  // margin-bottom: 16px;
  height: 24px;
  text-align: center;
  // border: 1px solid red;
  font-family: "Open Sans";
  font-weight:bold;
  font-size: 16px;

  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
}
.stepper-label2 {
  // position: absolute;
  // margin-top: 16px;
  // margin-bottom: 16px;
  height: 24px;
  text-align: center;
  // border: 1px solid red;
  font-family: "Open Sans";
  // font-weight: bold;
  font-weight: lighter;

  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
}

.stepper-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.stepper-actions {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 70px;

}

button {
  height: 42px;
  border-radius: 10px;
  background-color: $md-blue-500;
  border: 0;
  transition: all 0.2s linear;
  margin-left: 5px;
  min-width: 100px;
  text-align: center;
  // text-transform: uppercase;
  color: white;
  cursor: pointer;
  outline: 0;
  padding: 10px;

  // margin-right: 50px;

}
.prev-btn{
  height: 42px;
  // border-radius: 4px;
  background-color: $md-blue-500;
  border: 0;
  transition: all 0.2s linear;
  margin-right: 20px;
  min-width: 100px;
  text-align: center;
  // text-transform: uppercase;
  color: white;
  cursor: pointer;
  outline: 0;
  padding: 10px;
}

.line {
  top: 100px;
  width: 75%;
  background-color: #d5d5d5;
  height: 2px;
  position: absolute;
  left: 12%;
}

.App {
  text-align: center;

  margin: 1rem 10rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// body {
//   margin: 10rem;
//   font-size: 16px;
//   font-family: Helsana, Arial, sans-serif;
// }

.container {
  margin: 20rem auto;
}

.upload-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 50px;
  cursor: pointer;
}
.upload-text {
  padding-top: 10px;
  padding-left: 40px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
.form-group {
  display: flex;
}
.form-label{
  background-color: #b0d4f1;
}
.save-btn{
display: flex;
justify-content: center;
}
.info-label{
width: 800px;
  background-color: #b0d4f1;
}
.login-form{
  // display: flex;
  // align-items: center;
  justify-content: center;

}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn{
  display: flex;
justify-content: center;
margin-top: 30px;

}
.user-detail{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-email{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Edit-form{
  margin: 20px
}
.change-text {
  padding-top: 10px;
  padding-left: 20px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
.Edit-details{
  padding: 30px;
}